@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
	background-color: #bdc3c7;
}

.title{
	text-align:center;
	font-family: "Open Sans", sans-serif;
}

.opciones{
	text-align:left;
	font-family: "Open Sans", sans-serif;
	
}